<!doctype html>
<html>
<head>
    <title>FIFA Online 4 - TMI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut Icon" href="http://s.nx.com/s2/game/fo4/common/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app/style.css">
</head>
<body>