{{>layout/header}}

<div class="container mx-auto" style="width: 80%; text-align: center;">
    <h1 style="text-align: center; margin-top: 300px;">404 ERROR!</h1>
    <h5 style="text-align: center; margin-top: 50px;">존재하지 않는 페이지입니다!</h5>
    <button data-hover="Home" onclick="location.href='/'" style="margin-top: 100px;">
        <div>메인 페이지</div>
    </button>
</div>

{{>layout/footer}}