{{>layout/header}}

<h1 style="text-align: center">매치 기록</h1>

<div class="container mx-auto" style="margin: 200px 0; width: 1000px;">
    <h4 id="user-info-accessId" style="text-align: center">구단주 고유 식별 ID : {{user.accessId}}</h4>
    <h4 style="text-align: center">구단주 이름 : {{user.nickname}}</h4>
    <h4 style="text-align: center">구단주 레벨 : {{user.level}}</h4>
</div>

<div class="container mx-auto" style="width: 80%; text-align: center;">
    <button data-hover="Official" style="float: left; margin-left: 100px">
        <div>공식 경기</div>
    </button>
    <button data-hover="Coach" style="float: right; margin-right: 100px">
        <div>감독 모드</div>
    </button>
</div>

{{>layout/footer}}