{{>layout/header}}

<h1 style="text-align: center">역대 최고 등급</h1>

<div class="container mx-auto" style="margin: 150px 0; width: 1000px;">
    <h4 id="first-user-division-match-type" style="text-align: center"></h4>
    <h4 id="first-user-division" style="text-align: center"></h4>
    <h4 id="first-user-division-date" style="text-align: center"></h4>
</div>

<div class="container mx-auto" style="width: 1000px;">
    <h4 id="second-user-division-match-type" style="text-align: center"></h4>
    <h4 id="second-user-division" style="text-align: center"></h4>
    <h4 id="second-user-division-date" style="text-align: center"></h4>
</div>

<script src="/js/app/user-division.js"></script>
{{>layout/footer}}