{{>layout/header}}

<h1 style="text-align: center">구단주 정보</h1>

<div class="container mx-auto" style="margin: 200px 0; width: 1000px;">
    <h4 id="user-info-accessId" style="text-align: center">구단주 고유 식별 ID : {{user.accessId}}</h4>
    <h4 style="text-align: center">구단주 이름 : {{user.nickname}}</h4>
    <h4 style="text-align: center">구단주 레벨 : {{user.level}}</h4>
</div>

<div class="container mx-auto" style="width: 80%; text-align: center;">
    <button id="btn-max-division" data-hover="Rating" style="float: left">
        <div>최고 등급</div>
    </button>
    <button data-hover="Match">
        <div>매치 기록</div>
    </button>
    <button data-hover="Trading" style="float: right;">
        <div>거래 기록</div>
    </button>
</div>

<script src="/js/app/user-info.js"></script>
{{>layout/footer}}