{{>layout/header}}

<h1 style="text-align: center">구단주 정보</h1>

<div class="container mx-auto" style="width: 80%; text-align: center;">
    <button data-hover="Buy" style="float: left">
        <div>구매 기록</div>
    </button>
    <button data-hover="Sell" style="float: right;">
        <div>판매 기록</div>
    </button>
</div>

{{>layout/footer}}