{{>layout/header}}

<h1 style="text-align: center">거래 기록</h1>

<div class="container mx-auto" style="width: 80%; text-align: center; margin-top: 400px">
    <button data-hover="Buy" style="float: left; margin-left: 100px">
        <div>구매 기록</div>
    </button>
    <button data-hover="Sell" style="float: right; margin-right: 100px">
        <div>판매 기록</div>
    </button>
</div>

{{>layout/footer}}