{{>layout/header}}

<h1 style="text-align: center">역대 최고 등급</h1>

{{#division}}
    <div class="container mx-auto" style="margin: 150px 0; width: 1000px;">
        <h4 style="text-align: center">매치 종류 : {{matchType}}</h4>
        <h4 style="text-align: center">최고 등급 : {{division}}</h4>
        <h4 style="text-align: center">달성 날짜 : {{achievementDate}}</h4>
    </div>
{{/division}}

<script src="/js/app/user-division.js"></script>
{{>layout/footer}}